/*the size of content of all element will adjust to match the size of width 
and height set while the border and padding remain constant*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*fitting height to the view port without marging and padding*/
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
    /*choosing a font*/
  font-family: sans-serif;
  background-color: #e1f2fb;/*#f9fbfd;*/
}

/*spacing within the parent div*/
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/*placing the header at the centre with color annds spacing applied*/
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/*This is the first column, it contains the h2, img and anchor tags*/
.intro{
    text-align: center;
}

/*background color and margin to the help button*/
.intro button{
    background-color: lightgrey;
    margin-bottom: 15px;
}

/*placing the mouse on the help button will turn grey*/
.button-two:hover{
    background-color: gray;
}

/*make this list item thick*/
ul li{
    font-weight: bold;
}


/* styling app heading level two*/
#app-name{
    font-weight: bold;
    color: grey;/*rgb(104, 98, 88);*/
}

/*placing this bold, rred text on the left*/
div h4{
    text-align: left;
    color: red;
    font-weight: bolder;
    margin-top: 30px;
}

/*resizing and spacing the lock image*/
#lock{
    width: 70%;
    height: 230px;
    margin-top:24px;
    margin-bottom: 24px;
}

/*styling the main body of the page*/
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/*this instruction given on the page should fill the view port of its column*/
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*height should not exceed thsi limit*/
.card-body {
  min-height: 100px;
}

/*position this content in the middle of its parent*/
.card-footer {
  text-align: center;
}

/*fill the entire view port*/
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*no element should float on the left or right side*/
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/*placing the text in the middle of the curved button with no border*/
.btn{
  border: none;
/*previous color hsl(360, 91%, 36%)*/
  background-color: orangered;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/*button should turn red when I point the mouse*/
.btn-hov:hover{
    background-color: red;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}


.float-right {
  float: right;
}
/*text-box containing password should be placed in the middle of the column*/
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
/**/
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  /*password generated should be this big*/
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

